
/* Lecture Slides */

/* Center NYT Logo Image */
.center { 
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Date Header */
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-indent: 10px;
  
}

/* Todays Paper */
h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-indent: 10px;
  font-weight: lighter;
}

/* Horizontal Line Under Logo and Dates */
.horizontal {

  border-bottom: 1px solid black;
}

/* Make Columns */
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  font-family: Georgia;
}

/* Style for image */
.item1 {
  max-width: 100%;
  height: auto;
}

/* Style for news headers */
.item2 {
  font-family: Georgia;
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
}

/* Style for text content */ 
.item3 {
  font-family: Georgia;
  font-size: 12px;
  padding-top: 20px;
}

/* Column Styles */
.column {
  padding: 20px;
  border-right: 1px solid black; 
  height: auto;
}

/* Last column */ 
.column:last-child {
  border-right: none; 
}

/* Media Queries */ 

/* Desktop View */
@media only screen and (min-width: 1024px) {
  /* Display 3 columns in desktop view */
  .grid-container {
      grid-template-columns: repeat(3, 1fr);
  }
      
}

/* Tablet View */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 /* Display 2 columns in tablet view */
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }

  /* Remove vertical line from second column */

  .column:nth-last-child(2) {
      border-right: white;
  }

  /* Remove final column from display to only display two columns */
  .column:last-child {
      display: none;
  }

      
}


/* Phone View */
  @media only screen and (max-width: 768px)  {
      /* Display 1 column in mobile view */
      .grid-container {
          grid-template-columns: repeat(1, 1fr);
          
      }
      
      /* Remove vertical line to the right of column */
      .column {
          border-right: white; 
      }
      
       /* Remove second column to only display one column */
      .column:nth-last-child(2) {
          display: none;
      }

      /* Remove last column to only display one column */
      .column:last-child {
          display: none;
      }
  }

